:root {  /* fazeando :root => é assim que se cria uma variavel em css*/
    --bg-button: #f0f0f0; /* dentro do :root e eu posso criar outras variveis*/
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);         /* preciso do var() para acessar o a variavel */
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {                                /* o :active é ativado quando o button é precionado*/
    background-color: #ccc;
}

.button.double {                                /* passo essa class para o button ocupar duas posiçoes de column */
    grid-column: 2 span;
}

.button.triple {                                /* class para ocupar tres posições */
    grid-column: 3 span; 
}

.button.operation {
    background-color: #fa8231;
    color: #FFF;
}


.button.operation:active {
    background-color: #fa8231cc;            /* o cc no final da uma ceta transparencia */
}